# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment variables
.env

# Ignore virtual environment
venv/

# Ignore IDE and system files
.idea/
.vscode/
*.swp

# Ignore logs and other temporary files
*.log
